<div>
    <h2>
        <span jhiTranslate="jhipsterApp.typesProblems.home.title">Types Problems</span>
        <button class="btn btn-primary float-right jh-create-entity create-types-problems" [routerLink]="['/', { outlets: { popup: ['types-problems-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.typesProblems.home.createLabel">
            Create new Types Problems
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="typesProblems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.nameOfType">Name Of Type</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.proyavlenie">Proyavlenie</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.reasons">Reasons</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.profilactika">Profilactika</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.problemImage">Problem Image</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.typesDocument">Types Document</span></th>
            <th><span jhiTranslate="jhipsterApp.typesProblems.unit">Unit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typesProblems of typesProblems ;trackBy: trackId">
                <td><a [routerLink]="['../types-problems', typesProblems.id ]">{{typesProblems.id}}</a></td>
                <td>{{typesProblems.nameOfType}}</td>
                <td>{{typesProblems.proyavlenie}}</td>
                <td>{{typesProblems.reasons}}</td>
                <td>{{typesProblems.profilactika}}</td>
                <td>
                    <a *ngIf="typesProblems.problemImage" (click)="openFile(typesProblems.problemImageContentType, typesProblems.problemImage)">
                        <img [src]="'data:' + typesProblems.problemImageContentType + ';base64,' + typesProblems.problemImage" style="max-height: 30px;" alt="typesProblems image"/>
                    </a>
                    <span *ngIf="typesProblems.problemImage">{{typesProblems.problemImageContentType}}, {{byteSize(typesProblems.problemImage)}}</span>
                </td>
                <td>
                    <a *ngIf="typesProblems.typesDocument" (click)="openFile(typesProblems.typesDocumentContentType, typesProblems.typesDocument)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="typesProblems.typesDocument">{{typesProblems.typesDocumentContentType}}, {{byteSize(typesProblems.typesDocument)}}</span>
                </td>
                <td>
                    <div *ngIf="typesProblems.unit">
                        <a [routerLink]="['../unit', typesProblems.unit?.id ]" >{{typesProblems.unit?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../types-problems', typesProblems.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'types-problems/'+ typesProblems.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'types-problems/'+ typesProblems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
