<div>
    <h2><span data-translate="jhipsterApp.problemtypes.problemtypes.title">Problemtypes</span></h2>
    <hr>
    <button pButton type="button" label="Click"></button>

    <p-dataList [value]="container">
            <ng-template let-type pTemplate="item">
                <img src="{{type.kartinka}}">
                <p-dataTable [value]="type.types" sortField="problem"  rowGroupMode="rowspan" groupField="problem" [style]="{'margin-top':'50px'}">
                    <p-header>{{type.stroka}}</p-header>
                    <!--<ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['brand']}}</ng-template>-->
                    <p-column field="problem" header="Проявление" sortable="false"></p-column>
                    <p-column field="variant" header="Возможные" sortable="false"></p-column>
                    <p-column field="resheniye" header="Профилактика" sortable="false"></p-column>
                </p-dataTable>
            </ng-template>
    </p-dataList>
</div>
