<div>
    <h2><span data-translate="jhipsterApp.problemtypes.problemtypes.title">Problemtypes</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

<div class="table-responsive" *ngIf="problemtypes">
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let problemtypes of problemtypes ;trackBy: trackId">
</tr>
</tbody>
</table>
</div>
</div>
