<div>
    <h2>
        <span jhiTranslate="jhipsterApp.reasonAndProfilactic.home.title">Reason And Profilactics</span>
        <button class="btn btn-primary float-right jh-create-entity create-reason-and-profilactic" [routerLink]="['/', { outlets: { popup: ['reason-and-profilactic-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.reasonAndProfilactic.home.createLabel">
            Create new Reason And Profilactic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="reasonAndProfilactics">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterApp.reasonAndProfilactic.text2">Text 2</span></th>
            <th><span jhiTranslate="jhipsterApp.reasonAndProfilactic.text3">Text 3</span></th>
            <th><span jhiTranslate="jhipsterApp.reasonAndProfilactic.proyavlenie">Proyavlenie</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reasonAndProfilactic of reasonAndProfilactics ;trackBy: trackId">
                <td><a [routerLink]="['../reason-and-profilactic', reasonAndProfilactic.id ]">{{reasonAndProfilactic.id}}</a></td>
                <td>{{reasonAndProfilactic.text2}}</td>
                <td>{{reasonAndProfilactic.text3}}</td>
                <td>
                    <div *ngIf="reasonAndProfilactic.proyavlenie">
                        <a [routerLink]="['../proyavlenie', reasonAndProfilactic.proyavlenie?.id ]" >{{reasonAndProfilactic.proyavlenie?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../reason-and-profilactic', reasonAndProfilactic.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reason-and-profilactic/'+ reasonAndProfilactic.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'reason-and-profilactic/'+ reasonAndProfilactic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
