
<div *ngIf="proyavlenie">
    <h2><span jhiTranslate="jhipsterApp.proyavlenie.detail.title">Proyavlenie</span> {{proyavlenie.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.proyavlenie.text1">Text 1</span></dt>
        <dd>
            <span>{{proyavlenie.text1}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.proyavlenie.typesProblems">Types Problems</span></dt>
        <dd>
            <div *ngIf="proyavlenie.typesProblems">
                <a [routerLink]="['/types-problems', proyavlenie.typesProblems?.id]">{{proyavlenie.typesProblems?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'proyavlenie/'+ proyavlenie.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
